
ion-tab-bar {
  --background: var(--ion-background-color);
  --border: none;
  background: var(--ion-background-color);

  ion-tab-button {
    --color: var(--ion-text-color);
    --color-selected: #ffc107;
    background: var(--ion-background-color);
  }
}
