<ion-content color="dark">
  <div class="header-content">
    <h1>Oblíbené</h1>
    <p>Tvoje soukromá kuchařka</p>
  </div>

  <div class="recipes-grid" *ngIf="favorites.length > 0">
    <div class="recipe-item" *ngFor="let recipe of favorites">

      <div class="image-container">
        <img [src]="recipe.image" [routerLink]="['/recipe-detail', recipe.recipeId]" />
        <div class="heart-badge" (click)="removeFromFavorites(recipe.id)">
          <ion-icon name="heart" color="danger"></ion-icon>
        </div>
      </div>

      <div class="recipe-details" [routerLink]="['/recipe-detail', recipe.recipeId]">
        <h3>{{ recipe.title }}</h3>
        <div class="meta-row">
          <div class="time-info">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>{{ recipe.addedAt?.toDate() | date:'d.M.' }}</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="empty-state" *ngIf="favorites.length === 0">
    <ion-icon name="heart-outline"></ion-icon>
    <h3>Zatím tu nic nemáš</h3>
    <p>Utíkej do menu a najdi si něco dobrého!</p>
  </div>
</ion-content>
