<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="header-row-container">
      <div class="header-content-main">
        <h1 *ngIf="displayName">Ahoj, {{ displayName }}</h1>
        <h1 *ngIf="!displayName">Ahoj...</h1>
        <p>Co si dnes uvaříme?</p>
      </div>

      <div class="avatar-circle">
        <ion-icon name="restaurant-outline"></ion-icon>
      </div>
    </div>
  </ion-toolbar>

  <ion-toolbar>
    <div class="search-and-filter-container">
      <div class="custom-search-wrapper">
        <ion-icon name="search-outline"></ion-icon>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (input)="handleSearch()"
          placeholder="Hledat recept..."
        />

        <ion-icon
          *ngIf="searchTerm && searchTerm.length > 0"
          name="close-circle-outline"
          class="clear-icon"
          (click)="clearSearch()">
        </ion-icon>
      </div>

      <ion-button (click)="openFilter()" fill="clear" class="filter-btn-new">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onContentScroll($event)">

  <div class="recipes-grid">
    <div class="recipe-item" *ngFor="let recipe of recipes; trackBy: trackByFn">
      <div class="image-container" [routerLink]="['/recipe-detail', recipe.id]">
        <img [src]="recipe.image" alt="{{ recipe.title }}" />
        <div class="heart-badge">
          <ion-button fill="clear" (click)="toggleFavorite(recipe); $event.stopPropagation()">
            <ion-icon
              slot="icon-only"
              [name]="isFavorite(recipe.id) ? 'heart' : 'heart-outline'"
              [color]="isFavorite(recipe.id) ? 'danger' : 'medium'">
            </ion-icon>
          </ion-button>
        </div>
      </div>

      <div class="recipe-details" [routerLink]="['/recipe-detail', recipe.id]">
        <h3>{{ recipe.title }}</h3>
        <div class="meta-row">
          <div class="time-info">
            <ion-icon name="time-outline"></ion-icon>
            <span>{{ recipe.readyInMinutes }} min</span>
          </div>
          <div class="level-info">
            <span>{{ recipe.difficulty }} lvl</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-loader-overlay" *ngIf="isLoading && recipes.length < totalRecipes">
    <ion-spinner name="bubbles" color="warning"></ion-spinner>
  </div>

  <div *ngIf="recipes.length >= totalRecipes && totalRecipes > 0" class="footer-text">
    To je vše, co jsme v kuchařce našli 🍳
  </div>

</ion-content>
