ion-content {
  --background: var(--ion-background-color) !important;
}

.filter-wrapper {
  background-color: var(--ion-background-color);
  padding: 16px;
  min-height: 100%;
}

.group-label {
  color: #ffc107 !important;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.custom-select-item {
  --background: var(--card-background) !important;
  --color: var(--ion-text-color) !important;
  --border-radius: 12px;
  /* Zachování tvého původního šedého okraje */
  // border: 1px solid rgba(128, 128, 128, 0.2);
  margin-bottom: 10px;
}

/* TA SPODNÍ LIŠTA VE FILTRU */
.button-group {
  display: flex;
  gap: 12px;
  padding: 15px 20px 25px 20px !important;
  /* Změna z natvrdo barvy na proměnnou, aby to splynulo s pozadím */
  background-color: var(--ion-background-color) !important;
  border: none !important;
}
.apply-btn {
  --background: #ffc107 !important;
  --color: black !important;
  --border-radius: 12px;
  flex: 1;
}

.reset-btn {
  --color: var(--ion-text-color) !important;
  --border-color: rgba(128, 128, 128, 0.5) !important;
  --border-radius: 12px;
  flex: 1;
}
