:root {
  --ion-color-primary: #ffc107;
  --ion-color-primary-rgb: 255,193,7;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-shade: #e0aa06;
  --ion-color-primary-tint: #ffc720;

  --ion-color-danger: #ff4b4b;
}

body {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --card-background: #f4f4f4;
  --header-bg: #f8f8f8;
}

body.dark {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
  --card-background: #1e1e1e;
  --header-bg: #121212;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;

  --ion-item-background: #1e1e1e;
  --ion-toolbar-background: #121212;


  ion-content {
    --background: #121212;
  }
}
