<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Moje Kuchařka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="auth-container">
    <div class="header-section">
      <h1>{{ isRegister ? 'Vytvořit účet' : 'Vítejte!' }}</h1>
      <p>{{ isRegister ? 'Zaregistruj se a začni vařit.' : 'Přihlaste se, abyste si mohli ukládat recepty.' }}</p>
    </div>

    <div class="form-container">
      <ion-item lines="none" class="custom-input" *ngIf="isRegister">
        <ion-label position="stacked">Jméno</ion-label>
        <ion-input type="text" [(ngModel)]="displayName" placeholder="Tvoje jméno"></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" placeholder="vas@email.cz"></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-label position="stacked">Heslo</ion-label>
        <ion-input type="password" [(ngModel)]="password" placeholder="********"></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input" *ngIf="isRegister">
        <ion-label position="stacked">Potvrzení hesla</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" placeholder="********"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="isRegister ? onRegister() : onLogin()" class="main-btn">
        {{ isRegister ? 'Zaregistrovat se' : 'Přihlásit se' }}
      </ion-button>

      <ion-button expand="block" fill="clear" (click)="toggleMode()" class="toggle-btn">
        {{ isRegister ? 'Už máš účet? Přihlas se' : 'Nemáš účet? Vytvoř si ho' }}
      </ion-button>
    </div>
  </div>
</ion-content>
